fastapi
uvicorn[standard]
sentence-transformers
faiss-cpu
langchain
langchain-community
langchain-text-splitters
google-generativeai
openai-whisper
torch
numpy
Pillow
python-multipart
neo4j
python-dotenv
git+https://github.com/openai/CLIP.git
pypdf